<!-- views/admin/add-contestant.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Contestant</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h4>Select Post Title</h4>
          <form
            action="/admin/add-aspirant"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="postId">Post Title:</label>
              <select class="form-control" id="postId" name="postId" required>
                <% posts.forEach(post => { %>
                <option value="<%= post.id %>"><%= post.title %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="aspirantName">Aspirant Name:</label>
              <input
                type="text"
                class="form-control"
                id="aspirantName"
                name="aspirantName"
                required
              />
            </div>
            <div class="form-group">
              <label for="aspirantLevel">Aspirant Level:</label>
              <select
                class="form-control"
                id="aspirantLevel"
                name="aspirantLevel"
                required
              >
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
              </select>
            </div>
            <div class="form-group">
              <label for="aspirantPhoto">Aspirant Photo:</label>
              <input
                type="file"
                class="form-control-file"
                id="aspirantPhoto"
                name="aspirantPhoto"
                accept="image/*"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Add Aspirant</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
